Nama : Robiah Al Adawiyah

Nim : 2100015023

# **Konversi Struktur Data**



1.   list(): untuk mengubah menjadi list
2.   tuple(): untuk mengubah menjadi tuple 

3.   set(): untuk mengubah menjadi set
4.   dict(): untuk mengubah menjadi dictionary

# Mengkonversi tipe data list:

In [ ]:
# membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [ ]:
# mengkonversi struktur data list 
K_tuple = tuple(L1)
K_set = set(L2)
K_dict = dict(zip(L1,L2))
# melihat data yang telah dikonversi 
print(K_tuple)
print(K_set)
print(K_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data tuple

In [ ]:
# membuat dua tuple 
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [ ]:
# mengkonversi struktur data tuple
K_list = list(T1)
K_set = set(T2)
K_dict = dict(zip(T1,T2))
# melihat data yang telah dikonversi 
print(K_list)
print(K_set)
print(K_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

# Mengkonversi tipe data set

In [ ]:
# membuat dua set 
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
# mengkonversi struktur data set
K_list = list(S1)
K_tuple = tuple(S2)
K_dict = dict(zip(S1,S2))
# melihat data yang telah dikonversi 
print(K_list)
print(K_tuple)
print(K_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

# Mengkonversi tipe data dictionary

In [ ]:
# membuat dictionary 
D = {
    "nama": "andi",
     "alamat":"yogyakarta",
     "nama": 20
}

In [ ]:
# mengkonversi struktur data set
K_list = list(D.keys())
K_tuple = tuple(D.values())
K_set = set(D.keys())
# melihat data yang telah dikonversi 
print(K_list)
print(K_tuple)
print(K_set)

['nama', 'alamat']
(20, 'yogyakarta')
{'alamat', 'nama'}

**Latihan**

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list,tuple,set, dan dictionary(masing-masing satu)

In [ ]:
# membuat 2 list
L3 = [4, 28, 3, 4, 11]
L4 = ["mangga", 11, "apel", "G"]

In [ ]:
# mengkonversi struktur data list 
K_tuple = tuple(L3)
K_set = set(L4)
K_dict = dict(zip(L3,L4))
# melihat data yang telah dikonversi 
print(K_tuple)
print(K_set)
print(K_dict)

(4, 28, 3, 4, 11)
{'G', 'apel', 11, 'mangga'}
{4: 'G', 28: 11, 3: 'apel'}

In [ ]:
# membuat dua tuple 
T3 = ("aku",3.5, False, 2+3j)
T5 = (3.5, "kamu", True, 3)

In [ ]:
# mengkonversi struktur data tuple
K_list = list(T3)
K_set = set(T5)
K_dict = dict(zip(T3,T5))
# melihat data yang telah dikonversi 
print(K_list)
print(K_set)
print(K_dict)

['aku', 3.5, False, (2+3j)]
{3, True, 3.5, 'kamu'}
{'aku': 3.5, 3.5: 'kamu', False: True, (2+3j): 3}

In [ ]:
# membuat dua set 
S2 = {4.7, "aku", False, 1+2j}
S3 = {"aku", 4.7, 3+2j,"aku", True, 4.7}

In [ ]:
# mengkonversi struktur data set
K_list = list(S2)
K_tuple = tuple(S3)
K_dict = dict(zip(S2,S3))
# melihat data yang telah dikonversi 
print(K_list)
print(K_tuple)
print(K_dict)

[False, 'aku', 4.7, (1+2j)]
((3+2j), 'aku', 4.7, True)
{False: (3+2j), 'aku': 'aku', 4.7: 4.7, (1+2j): True}

In [ ]:
# membuat dictionary
B4 = {1:'aku', 'dia':2, 3:'kamu'}

In [ ]:
# mengkonversi struktur data set
K_list = list(B4.keys())
K_tuple = tuple(B4.values())
K_set = set(B4.keys())
# melihat data yang telah dikonversi 
print(K_list)
print(K_tuple)
print(K_set)

[1, 'dia', 3]
('aku', 2, 'kamu')
{3, 1, 'dia'}