Nama : Robiah Al Adawiyah 

Nim : 2100015023

# **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan(unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada saat kita dapat melakukan union dan intersection sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
# contoh Set
S1 = {1,"dua", True, 2+3j}
print(type(S1))

<class 'set'>

In [ ]:
# Sifat-sifat Set

# Tidak terurut/unordered
print("Memanggil set S1 dengan indeks urutan: " S1[0:3])

SyntaxError: ignored

In [ ]:
# Tidak bisa diganti/immutable
S1[1] = 2
print("set S1 setelah diganti elemennya: ", S1)

TypeError: ignored

In [ ]:
# Tidak dapat diindeks/Slicing
S1 = {1,"dua", True, 2+3j}
print("slicing Set S1: ", S1[3])

TypeError: ignored

In [ ]:
# Dapat diijinkan Duplikasi
S1 = {1,"dua", True, True, 2+3j, 2+3j} #Boolean tidak terbaca atau dianggap tidak ada
print("Duplikasi pada set S1:", S1)

Duplikasi pada set S1: {1, (2+3j), 'dua'}

**Latihan**

In [ ]:
# Buatlah struktur data set-mu sendiri

S2 = {4.7, "aku", False, 1+2j}
print(type(S2))

<class 'set'>

In [ ]:
S3 = {"aku", 4.7, 3+2j,"aku", True, 4.7}
print("Duplikasi pada set S3: ", S3)

Duplikasi pada set S3:  {'aku', (3+2j), 4.7, True}